@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
  
}
#BakeryLogo4{ 
  
  position: relative;
  width: 100px;
  height: auto;
  cursor: pointer;
  display: block;
  z-index: 2;
}
.video-bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.60; /* Adjust the opacity value as desired */
}


.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 540px;
  height: 430px;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 2vh  2vh 2vh 2vh #726a6a85;
  padding: 30px;
  margin-top: -50px;
  background-color: #ffffff37;
}

.about h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 100px;
  margin-left: 100px;
}

.text h5 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

span {
  color: #4070f4;
}

.text p {
  color: #333;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.data {
  margin-top: 30px;
}

.shop {
  font-size: 16px;
  background: rgb(67, 65, 65);
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.shop:hover {
  background: rgba(76, 74, 74, 0.489);
  color: black;
  text-decoration: none;
}

/* Menu */
.menu-icon4:checked + label,
.menu-icon4:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon4:checked + label:before,
.menu-icon4:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon4:checked + label:after,
.menu-icon4:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon4:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon4:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav4{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon4:checked ~ .nav4 {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav4 ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav4 ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav4 ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav4 ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav4 ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav4 ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav4 ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav4 ul li a:hover{
  text-decoration: none;
  color: #7a7777;
}
.nav4 ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav4 ul li a:hover:after{
  width: 100%;
}


.menu-icon4:checked ~ .nav4  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon4:checked ~ .nav4 ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon4:checked ~ .nav4 ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon4:checked ~ .nav4 ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon4:checked ~ .nav4 ul li:nth-child(4){
  transition-delay: 1640ms;
}
@media only screen and (max-width: 768px) {
  /* Styles for small screens */
  .text .second-part {
    display: none;
  }

  .menu-icon4.centered + label,
  .menu-icon4:not(:checked) + label{
    margin-top: -20px;
    margin-right: -40px;
    transform: scale(0.7);
  }
  .menu-icon4:checked + label{
    margin-top: -20px;
    margin-right: -50px;
    transform: scale(0.7);
  }
  .logo {
    left: 30px;
  }
  .nav4{
    margin-top: -15px;
    margin-right: -40px;
    transform: scale(0.7);
  }

  .nav4 a:first-child {
    left: -40px;
    font-size: 25px;
  }
  .nav4 ul li a{
    font-size: 3vh;
    
  }
  .text {
    width: 80%; /* adjust the width */
    height: 350px; /* adjust the height */
    padding: 20px; /* adjust the padding */
    margin-top: -150px; /* adjust the margin-top */
  }
  
  .about h2 {
    font-size: 40px; /* adjust the font size */
    margin-top: -550px; /* adjust the margin-bottom */
    margin-right: -300px; /* adjust the margin-left */
    margin-left: -10px;
  }
  
  .text h5 {
    font-size: 18px; /* adjust the font size */
    margin-bottom: 15px; /* adjust the margin-bottom */
  }
  
  .text p {
    font-size: 14px; /* adjust the font size */
    line-height: 20px; /* adjust the line height */
  }
  
  .shop {
    font-size: 14px; /* adjust the font size */
    padding: 10px 20px; /* adjust the padding */
  }
}