
/*Menu Style*/
#background {
  background-image: url("https://images.unsplash.com/photo-1618426703623-c1b335803e07?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  
  background-size: cover;
  filter: blur(0.01em);
  height: 100%;
  left: 0px;
  opacity: 0.25;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
}
#BakeryLogo2{ 
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;margin-top: -225px;
  margin-right: 600px;
}


.cakePhotoMenu{
  width: 200px;
  height: 200px;
  z-index: 1;
  }
  
  .Cakes {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 150px;
    align-items: center;
  }

  .cakeDiv{
    
    padding: 50px;
    padding-top: 0px;
    margin-left: 100px;
    z-index: 1;
    background-color: #ffffff8e;
    border-radius: 30px;
  }
  .cakeDivWrapper {
    /* Existing styles */
    flex: 0 0 calc(50% - 20px);
    padding-bottom: 10px;
    text-align: center;
    flex: 0 0 calc(37.37% - 20px);
    margin-top: 100px;
    
    /* New styles for layout */
    display: inline-flex;
    width: 50%;
    box-sizing: border-box;
    z-index: 1;
  }

  .cakeDivWrapper2 {
    /* Existing styles */
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 250px;
    text-align: center;
    flex: 0 0 calc(50.33% - 20px );
    
    
    /* New styles for layout */
    display: inline-flex;
    width: 50%;
    box-sizing: border-box;
    z-index: 1;
  }
  .cakeTitleMenu,.cakePrice{
    font-family: "Cookie", cursive;
    font-size: 30px;
    z-index: 1;
  }

  .cakePhotoMenuContainer {
    position: relative;
    display: inline-block;
  }
  
  .cakePhotoMenu {
    transition: transform 2s;
    position: relative;
    z-index: 2; /* Ensure it's on top */
  }
  
  .cakePhotoMenuBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: 1; /* Ensure it's behind */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .cakePhotoMenuContainer:hover .cakePhotoMenu {
    transform: rotate(360deg);
  }
  
  .cakePhotoMenuContainer:hover .cakePhotoMenuBackground {
    opacity: 1;
  }
  

  
  /* Menu button Style */
  .button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    z-index: 1;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    z-index: 1;
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    z-index: 1;
  }

  /*Logo Style*/


/* New Mark Style */
.scale-down {
  transform: scale(0.305); /* Adjust scale value as needed */
  transform-origin: top left; /* Ensures the scaling starts from the top left */

}

.wrap {
  width: 200px;
  margin: auto;
  z-index: 1;
  
}

.msg {
  color: whitesmoke;
  text-align: center;
  font-family: 'Bree Serif', Courier, monospaced;
  font-size: 3.5em;
  width: 200px;
  position: absolute;
  margin: 55px 0 0 2px;
  pointer-events: none;
  margin-left: -150px;
  margin-top: 100px;
}

.sticker {
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13034/sticker.png) top center no-repeat;
  animation: spin 10s linear infinite;
  animation-play-state: running;  padding-left: -50px;
  margin-left: -150px;
  margin-top: 50px;
}

.sticker:hover {
  animation-play-state: paused;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

/*Footer*/
#cart-symbol {
  color: rgba(42, 35, 59, 0.897);
  text-decoration: none !important;
  position: fixed;
  bottom: 1px;
  right: 1px;
  font-size: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.562);
  cursor: pointer;
  --color: #ad3750; /* the color of the border */
  --border: 5px;   /* the thickness of the border */
  --offset: 10px;   /* control the movement of the border */
  --gap: 2px;       /* the gap on hover */
  
  border-radius: 50%;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  border: var(--offset) solid #0000;
  --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
  --_s: var(--offset);
  --_r: 100% 100% at;
  background:
    radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
    radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
    radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
    radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
  background-size: 50% 50%;
  background-repeat: no-repeat;
  transition: .4s;
  z-index: 1;
}


#cart-symbol:hover {
  --_s: 0px;
}
#cartSize{
  color: rgba(42, 35, 59, 0.897);
}
/* Menu */
.menu-icon5:checked + label,
.menu-icon5:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon5:checked + label:before,
.menu-icon5:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon5:checked + label:after,
.menu-icon5:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon5:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon5:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav5{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon5:checked ~ .nav5 {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav5 ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav5 ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav5 ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav5 ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav5 ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav5 ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav5 ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav5 ul li a:hover{
  text-decoration: none;
  color: #7a7777;
}
.nav5 ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav5 ul li a:hover:after{
  width: 100%;
}


.menu-icon5:checked ~ .nav5  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon5:checked ~ .nav5 ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon5:checked ~ .nav5 ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon5:checked ~ .nav5 ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon5:checked ~ .nav5 ul li:nth-child(4){
  transition-delay: 1640ms;
}

/* Small Devices Style */
@media (max-width: 768px) {


  .nav5 {
    position: absolute;
    transform: none;
    transition: none;
    box-shadow: none;
    background-color: #353746;
  }

  .nav5 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav5 li {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu-icon5:checked + label,
  .menu-icon5:not(:checked) + label {
    position: absolute;
    margin-top: 4px;
    transform: scale(0.7);
  }


  .nav5 a:first-child {
    left: 11px;
    font-size: 25px;
  }
  .nav5 ul li a{
    font-size: 3vh;
  }
  #cartSize, #cart-symbol {
    font-size: 30px; /* Adjust as needed for smaller screens */
    left: 350px;
    position: fixed;
    z-index: 0;
  }

  .cakeDivWrapper2 {
    transform: scale(0.6); /* Adjust the scale value as needed */
  }

  .cakeDiv {
    position: relative;
    left: -400px;
    margin-bottom: -130px;
  }
}